body {
    font-family: Lato,sans-serif;
}
.contenedor {
    margin:auto;
    width:450px;
}
.cards {
    display: flex;
}
.botones {
    padding: 25px;
    margin:0 25px;
    background-color: aquamarine;
    cursor:pointer;
}
.botones:hover {
    padding: 25px;
    margin:0 25px;
    background-color: rgb(88, 233, 185);
}
.resultados {
    margin: 25px 0 0 0;
}
.resultadodestacado {
    margin: 0 auto;
    background-color: #D8D8D8;
    padding: 10px 25px;
    font-size: 40px;
}
#destacado {
    display: flex;
    margin: 25px auto;
}